<div class="container">



<div class="my-3">
    <h1 class="text-capitalize text-center my-2 ">register form</h1>
    <form [formGroup]="registerForm" (ngSubmit)="handleRegisterForm(registerForm)">
        <div class="my-2 ">
            <label>name</label>
            <input class="form-control" type="text" formControlName="name">
            <div *ngIf="registerForm.controls.name.invalid && registerForm.controls.name.touched" class="text-danger mt-2">
                <p class="fa-bounce" style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;" *ngIf="registerForm.controls.name.errors?.required"> name is required</p>
                <p class="fa-fade"  *ngIf="registerForm.controls.name.errors?.minlength">first name min length is 3</p>
                <p class="fa-fade" *ngIf="registerForm.controls.name.errors?.maxlength">first name max length is 10</p>


            </div>
        </div>
    
        <div class="my-2">
            <label for="">email</label>
            <input class="form-control" type="email" formControlName="email">
            <div *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.touched" class="text-danger mt-2">
                <p class="fa-bounce" style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;" *ngIf="registerForm.controls.email.errors?.required">email is required</p>
                <p class="fa-fade"  *ngIf="registerForm.controls.email.errors?.email">email is invalid</p>
            </div>
        </div>
    
    
        <div class="my-2">
            <label for="">password</label>
            <input class="form-control" type="password" formControlName="password" placeholder="password like A12345">
            <div *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.touched" class="text-danger mt-2">
                <p class="fa-bounce" style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;" *ngIf="registerForm.controls.password.errors?.required">password is required</p>
                <p class="fa-fade"  *ngIf="registerForm.controls.password.errors?.pattern">Password is invalid "must be a capital letter followed by  numbers"</p>
            </div>
        </div>

        <div class="my-2">
            <label for="">rePassword</label>
            <input class="form-control" type="password" formControlName="rePassword">
            <div *ngIf="registerForm.controls.rePassword.invalid && registerForm.controls.rePassword.touched" class="text-danger mt-2">
                <p class="fa-bounce" style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;" *ngIf="registerForm.controls.rePassword.errors?.required">password is required</p>
                <p class="fa-fade"  *ngIf="registerForm.controls.rePassword.errors?.pattern">Password is invalid "must be a capital letter followed by  numbers"</p>
            </div>
        </div>
    
    
        <div class="my-2">
            <label for="">phone Number</label>
            <input class="form-control" type="tel" formControlName="phone">
            <div *ngIf="registerForm.controls.phone.invalid && registerForm.controls.phone.touched" class="text-danger mt-2">
                <p class="fa-bounce" style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;" *ngIf="registerForm.controls.phone.errors?.required">phone is required</p>
             
                <p class="fa-fade" *ngIf="registerForm.controls.phone.errors?.pattern">phone must be valid (egyptian numbers)</p>


            </div>
        </div>
        <button [disabled]="registerForm.invalid" class="btn btn-info" type="submit">register</button>
    </form>
</div>
</div>


